.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    box-shadow: 10px 1px 10px rgba(0,0,0,.1);
    background-color: var(--bg-color); 
    z-index: 1000;
}
.navigationContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    position: relative;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
}

.logo::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    animation: showRight 1s ease-in-out forwards;
    animation-delay: .4s;
}
.navigation {
    font-size: 1.3rem;
    color: var(--text-color);
    display: flex;
    list-style: none;
    gap: 30px;
}

.navigation a{
    transition: .3s;
}

.navigation a:hover{
    color: var(--main-color);
    text-decoration: none;
}
#menuIcon{
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}
.langContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(112,167,216);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 17%, rgba(103,184,255,1) 56%);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: yellow;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background: linear-gradient(90deg, #041e42 20%, #9b1c2c 100%);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--main-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
    background-color: white;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/* KEY FRAMES */

@keyframes showRight {
    100%{
        width: 0%;
    }
    0%{
        width: 100%;
    }
    
}
@media screen and (max-width: 1000px) {
    .navigationContainer{
        justify-content: space-between;
    }
    .navigation{
        position: absolute;
        right: 0;
        top: 60px;
        padding: 30px;
        background-color: var(--bg-color);
        width: 30%;
        height: 100vh;
        box-shadow: 1px 1px 10px rgba(0,0,0,.1);
        flex-direction: column;
        display: none;
    }
    .active{
        display: flex;
    }
    #menuIcon{
        display: block;
    }    
}

@media screen and (max-width: 900px) {
    .header{
        padding: 2rem 5%;
        width: 100%;
    }
    .navigationContainer{
        justify-content: space-between;
    }
    .navigation{
        position: absolute;
        width: fit-content;
        right: 0;
        background-color: var(--bg-color);
        height: fit-content;
        box-shadow: 1px 1px 10px rgba(0,0,0,.1);
        flex-direction: column;
        display: none;
    }
    .active{
        display: flex;
    }
    #menuIcon{
        display: block;
    }    
    .starContainer{
        display: none;
    }
}