html{
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a { 
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root{
  --bg-color:#212A3E;
  --bg-gradient-color:#292b2f;
  --second-bg-color:#394867;
  --text-color:#F1F6F9;
  --main-color:#00abf0;
  --bg-gradient:linear-gradient(135deg, rgba(33,42,62,1) 30%, rgba(41,43,47,1) 100%);
  --bg-gradient-before:linear-gradient(135deg, rgba(33,42,62,1) 30%, rgba(35,42,57,1) 100%);
}
@media (prefers-color-scheme: dark){
  html{
    color-scheme: dark;
    font-size: 62.5%;
    overflow-x: hidden;
  }
  
}

body{
  background: rgb(33,42,62);
  background: linear-gradient(135deg, rgba(33,42,62,1) 30%, rgba(41,43,47,1) 100%);
  color: var(--text-color);
}